<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Colaboradores
                </div>
                <div class="card-body">
                    <form [formGroup]="formulario" class="mb-5">
                        <div class="mb-3">
                            <label for="colaborador" class="form-label">Nome do colaborador</label>
                            <input type="text" class="form-control" id="colaborador" aria-describedby="colaborador" formControlName="nome" >
                        </div>
                    </form>
                    <button (click)="salvarColaborador()" type="submit" class="btn btn-primary ">Enviar</button>
                </div>
                <div class="card-footer">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th colspan="3" scope="col">Nome</th>
                            <th scope="col"></th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let colaborador of listaColaboradores">
                            <td >{{colaborador.id}}</td>
                            <td colspan="3" >{{colaborador.nome}}</td>
                            
                            <td class=" d-flex justify-content-end" ><button class="btn btn-danger " (click)="apagarColaborador(colaborador.id)">X</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>