<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Colaboradores
                </div>
                <div class="card-body">
                    <form [formGroup]="formulario" class="mb-5">
                        <div class="mb-3">
                            <label for="colaborador" class="form-label">Nome do colaborador</label>
                            <input type="text" class="form-control" id="colaborador" aria-describedby="colaborador" formControlName="nome" >
                        </div>
                    </form>
                    <button  (click)="salvarColaborador()" type="submit" class="btn btn-primary m-2 ">Enviar</button>
                 
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>